/* #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f1f5f9;

}

/* Sidebar */

.sidebar {
  width: 270px;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 0;
  transition: 0.3s;
}


.logo {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: #0f172a;

}

.menu {
  list-style: none;
}

.menu li {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.1em;
}

.menu li:hover {
  background-color: #334155;
}

/* Right panel */
.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

/* Navbar */
.navbar {
  height: 60px;
  margin: 0 20px;
  background-color: #dfe7ed;
  border-bottom: 1px solid #e2e8f0;
  border-radius: 6px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-left {
  font-size: 20px;
  font-weight: 600;
}

.navbar-right {
  font-size: 16px;
  color: #475569;
}

/* content */
.content {
  flex: 1;
  padding: 20px;

}

/* cards grid*/
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* single card */
.stat-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.stat-title {
  font-size: 18px;
  color: #64748b;
  margin-bottom: 8px;
}

.stat-value {
  font-size: 24px;
  font-weight: 600;
}

/* responsive cards grid */
@media (max-width: 1024px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}


/* courses container */
.courses-card {
  margin-top: 30px;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.courses-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

/* courses row layout */
.course-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 16px;
}

.course-name {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
}

/* progress bar */
.progress-wrapper {
  flex: 1;
  height: 10px;
  background-color: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #3b82f6;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .course-name {
    width: 90px;
    font-size: 13px;
  }
}