#root {
  margin: 0 auto;
  text-align: center;
}

.home-style{
  max-width: 600px;
  margin: 0 auto;
  margin-top: 240px;
}

/* .card {
  padding: 2em;
} */

/* .app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 32px 24px 24px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #888;
  margin-top: 20px;
}

.nav {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e7eb;
}

.nav-link {
  flex: 1;
  padding: 12px;
  margin: 6px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: #6b7280;
  background: white;
  font-size: 1.2rem;
}

.nav-link.active {
  color: #4f46e5;
  border-bottom: 2px solid #4f46e5;
} */

/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 400px;
  margin: 200px auto;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
  padding: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form:hover {
  transform: scale(1.05); /* enlarge on hover */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-primary {
  margin-top: 10px;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* open button */
.open-btn {
  padding: 12px 18px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.open-btn:hover {
  background: #4338ca;
}

/* Fade animations */

/* .fade-in {
  animation: fadeIn 0.6s ease forwards;
}

.fade-out {
  animation: fadeOut 0.6s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
} */


/* close button */
/* .close-btn {
  position: absolute;
  top: 0px;
  right: 6px;
  padding: 4px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #6b7280;
}

.close-btn:hover {
  color: #111827;
} */


/* loader css */
/* .loader {
  margin: 0 auto;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}} */